{% extends 'layout.html' %}
{% block body %}
{% load static %}


    <center>
    <table class="table table-bordered w-auto">
       <tr><td colspan="2" align="center"><h4>Kişi Detay Bigileri</h4></td></tr>


        {% for kisibilgisi in kisi_listesi%}
       <tr><td colspan="2" align="center"><img src="{% static 'vt_fotolar/'%}{{ kisibilgisi.foto }}" class="img-fluid img-thumbnail" ></img> </td></tr>
   <tr><th scope="row" style="text-align:right">Ad Soyad:</th><td> {{ kisibilgisi.adi_soyadi }}</td></tr>
    <tr><th scope="row" style="text-align:right">Tc Kimlik:</th><td>{{ kisibilgisi.tckimlik }}</td></tr>
        <tr><th scope="row" style="text-align:right">Tel:</th> <td>{{ kisibilgisi.tel }}</td></tr>
          {% endfor %}

    </table>
</center>

{% endblock body%}
