
<!doctype html>
{% load static %}
<html lang="tr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">

    <title>Bursa_Mkc_Python</title>
  </head>
  <body>
    <div class="container">
    {% block body%}

    {% endblock body%}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/locales/bootstrap-datepicker.tr.js' %}"></script>
   <script>
    $("#tarih1").datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true,
    language: 'tr'
});
    $("#tarih2").datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true,
    language: 'tr'
});
    </script>
  </body>
</html>